/*  .......... Nav......... */

.area {
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(255 255 255 / 7%);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 999;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 4s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 9s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.nav_container,
.nav_container_project {
  min-height: 12vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: relative;
  z-index: 11;
  transition: all 0.5s;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: auto;
}

.nav_container li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.nav_container a {
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 0px;
  position: relative;
}

/* ................. nav hover .......... */

.nav_container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav_container a:hover {
  font-weight: 500;
}

.nav_container a:hover:after {
  width: 100%;
  left: 0;
}
.active {
  font-weight: 500 !important;
}

.active::after {
  width: 100% !important;
  left: 0 !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-secondary);
  transition: all 1s;
  box-shadow: 7px 7px 10px 1px rgba(122, 120, 120, 0.25);
  min-height: 0;
}

.toggle_nav {
  animation-name: toggle_nav_kf;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes toggle_nav_kf {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

/*  .......... logo ......... */

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  color: var(--color-text);
  transition: ease-in 0.1s;
  cursor: pointer;
  padding-left: 2rem;
  position: relative;
  z-index: 100;
  padding-top: 0.7rem;
  transition: all 0.3s ease-in;
}

.logo:hover.logo h3 {
  color: var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-text);
}

/*  .......... Burger ......... */

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--color-text);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 700px) {
  .nav_links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    z-index: 10;
    justify-content: flex-start;
    padding-top: 5rem;
    font-size: 2rem;
    gap: 3rem;
  }

  .burger {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    padding-right: 20px;
    z-index: 99;
  }

  .nav_toggle {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: var(--color-cta2);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background-color: var(--color-cta2);
  }

  .hover .line1 {
    transform: translateY(-3px);
    transition: all 0.3s;
    background-color: var(--color-cta2);
  }
  .hover .line2 {
    opacity: 0;
    transition: all 0.3s;
    background-color: var(--color-cta2);
  }
  .hover .line3 {
    transform: translateY(3px);
    transition: all 0.3s;
    background-color: var(--color-cta2);
  }
}
